In your text book, navigate to the end of Chapter 11 and 16 to the section titled "Things to Do"
Complete the following sections in your Jupyter Notebook:
11.1
11.2
16.8
Make sure both answer the prompts(if given) and complete the Python interactive interpreter piece for each question
You can do this in Jupyter notebooks by inserting code to complete the interactive interpreter piece and adding markdown to answer the prompts (if given) for each question

## 11.1

Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [1]:
from zoo import hours

hours()

Open 9-5 daily

# 11.2
In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [2]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

## 16.4

Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

In [3]:
import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object
cursor = conn.cursor()

# Create the books table
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
''')
# Define the books list with sample data
books = [
    ["The Great Gatsby", "F. Scott Fitzgerald", 1925],
    ["To Kill a Mockingbird", "Harper Lee", 1960],
    ["1984", "George Orwell", 1949],
    ["Pride and Prejudice", "Jane Austen", 1813],
    ["The Catcher in the Rye", "J.D. Salinger", 1951]
]

# Insert data into the books table
cursor.executemany('''
INSERT INTO books (title, author, year) VALUES (?, ?, ?)
''', books)

# Commit the changes and close the connection
conn.commit()
conn.close()

## 16.8

Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [4]:
from sqlalchemy import create_engine, MetaData, Table, select

engine = create_engine('sqlite:///books.db')


metadata = MetaData()


books_table = Table('books', metadata, autoload_with=engine)

with engine.connect() as connection:

    query = select(books_table.c.title).order_by(books_table.c.title)
    result = connection.execute(query)
    
    for row in result:
        print(row[0])

1984
Pride and Prejudice
The Catcher in the Rye
The Great Gatsby
To Kill a Mockingbird